[Unit]
Description=Hashicorp Nomad systemd configuration file
Documentation=https://www.nomadproject.io/docs/

Wants=
Requires=network-online.target remote-fs.target consul.service docker.service
After=network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target