http:
  routers:
    proxmox:
#      rule: Host(`proxmox.lab.${var.base_domain}`)
      rule: Host(`proxmox.lab.schoger.net`)
      service: proxmox-svc
      entrypoints: websecure

  serversTransports:
    insecure_tls:
      insecureSkipVerify: true

  services:
    proxmox-svc:
      loadBalancer:
        # Sticky sessions required for console access
        sticky:
         cookie: {}
        serversTransport: insecure_tls
        passHostHeader: true
        servers:
          - url: "https://proxmox0.home:8006"
          - url: "https://proxmox1.home:8006"
          - url: "https://proxmox2.home:8006"
        healthcheck:
          path: "/"
          interval: "10s"
          timeout: "3s"
    